<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title layout:title-pattern="$CONTENT_TITLE - $LAYOUT_TITLE">Just Tech News</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

<article class="comment" th:fragment="comment-fragment">
  <h1>User Comments</h1>
  <div class="title" th:each="comment: ${commentList}">


    <li th:text="${comment.commentText}">
    </li>
  </div>
</article>

</body>